@font-face {
    font-family: "Harleem Deco";
    src: url(../fonts/Haarlem\ Deco.otf);
}

body {
    background-image: url(../background.jpg);
    font-size: 100%;
}

#shadow {
    box-shadow: 0 0 8px #000000;
    margin: 2% 4%;
}

header {
    background-color: #222838;
    box-sizing: border-box;
    padding: 0.5% 0;
}

h1 {
    color: #c88c40;
    font-family: "Harleem Deco", serif;
    font-size: 4.5em;
    line-height: 100%;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.left {
    background-color: #e2c0a7;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 20%;
}

nav a {
    border-image: linear-gradient(90deg, #e7aa98, #e7aa98) 0 0 100% 0;
    border-style: solid;
    border-width: 3px;
    color: #222838;
    font-family: "Harleem Deco", serif;
    font-size: 1.75em;
    margin: 4%;
    padding: 2%;
    text-decoration: none;
}

.active, nav a:hover {
    border-image: linear-gradient(90deg, #c88c40, #e7aa98) 0 0 100% 0;
}

.right {
    background-color: #f8f0e3;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 2% 4%;
    width: 80%;
}

h2 {
    color: #c88c40;
    font-family: "Harleem Deco", serif;
    font-size: 2.75em;
    line-height: 100%;
}

p {
    color: #222838;
    font-size: 1.125em;
    line-height: 120%;
    margin: 0 0 1.5% 0;
    text-align: justify;
}

aside {
    background-color: #e7aa98;
    box-sizing: border-box;
    color: #222838;
    font-size: 1.125em;
    padding: 2% 4%;
}

h3 {
    color: #222838;
    font-family: "Harleem Deco", serif;
    font-size: 1.75em;
    line-height: 100%;
}

form {
    padding: 1% 0;
}

select, input {
    background-color: #f8f0e3;
    border: none;
    color: #222838;
    margin: 5px 0 20px 0;
    padding: 0 7px;
}

button {
    background-color: #e2c0a7;
    border-color: #222838;
    color: #222838;
    margin: 10px 5px 0 0;
}

footer {
    background-color: #222838;
    box-sizing: border-box;
    padding: 2%;
}

footer p {
    color: #c88c40;
    line-height: 100%;
    margin: 0;
    text-align: center;
}

footer a:link {
    color: #e7aa98;
}

footer a:hover {
    color: #e2c0a7;
}

footer a:visited {
    color: #fffff0;
}

@media screen and (max-width: 1200px) {
    main {
        flex-direction: column;
    }
    .left {
        padding: 10% 4%;
        width: 100%;
    }
    .right {
        padding: 4% 10%;
        width: 100%;
    }
    p {
        margin-bottom: 6%;
    }
    aside {
        padding: 4% 10%;
    }
    footer {
        padding: 4% 0;
    }
}